<div class="container">
  <h1><%= @list.name %></h1>
  <% if @list.photo.attached? %>
    <%= cl_image_tag @list.photo.key, width: 400 %>
    <%# cl_image_tag  mostra a img que vai ser pegar pelo cloudinary %>
    <%# key `e a id do cloudinary %>
    <%# com a chave da api ele sabe da nossa conta, sabendo da nossa conta ele sabe o nosso endereco base e sabe a img q ta sendo guardada %>
  <% else %>
    <%= image_tag 'photo.jpg', width: 400 %>
  <% end %>
  <%# if eu tiver a img? ele mostra %>
</div>

<h3>Movies</h3>

<% @list.bookmarks.each do |bookmark| %>
  <div class="container">
    <div class="row py-3">
      <div class="col-4">
        <%= image_tag movie.poster_url, width: 160 %>
      </div>
      <div class="col-6">
        <p><%= bookmark.title %></p>
        <p><%= bookmark.overview %></p>
      </div>
    </div>
    <%= link_to 'delete', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<hr>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%# association equivale ao dropdown, e o collection deixa em ordem alfabetica %>
  <%= f.association :movie, collection: @movies, prompt: 'Select a movie', lable: false %>
  <%= f.input :comment, placeholder: 'Enter a comment...', lable: false %>
  <%= f.submit class: 'btn btn-success' %>
<%= end %>

<hr>
<h3>Reviews</h3>
<div class="row">
  <% @list.reviews.each do |review| %>
    <div class="col-6">
      <p><%= review.comments %></p>
      <p><%= review.rating %></p>
    </div>
  <% end %>
</div>



<hr>
<h3>Write a review</h3>
<%= simple_form_for [@list, @review] do |f| %>
  <%= f.input :comment, placeholder: 'Write a review for this list...', lable: false %>
  <%= f.input :rating %>
  <%= f.submit class: 'btn btn-success' %>
<%= end %>

<hr>


<%# a volta do caminho do botao do index.html.erb %>
<%= link_to 'back', root_path, class: 'btn btn-success' %>
